<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/app.css"> 
		<!-- /app.css = look in root directory (public);
			app.css = look in current directory-->
		<title>Demo App</title>
	</head>
	<body>