<h1>INDEX PAGE!!!</h1>

<% blogs.forEach(function(blog) { %>
	<div>
		<h2><%= blog.title%></h2>
		<img src="<%= blog.image %>">
		<span><%= blog.created %></span>
		<p><%= blog.body %></p>
	</div>
<% }) %>