body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	margin: 20px auto;
}

.left-border {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.date {
	color: #3498db;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

.title {
	color: #2c3e50;
	font-size: 2.0rem;
}

.post {
	margin-bottom: 20px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}