<h1>Login</h1>

<form accept="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Login</button>
</form>

<li><a href="/register">Sign Up!</a></li>