<% include partials/header %>
	<div class="container">
		 <header class="jumbotron">
		 	<div class="container">
			 	<h1>Welcome to YelpCamp!</h1>
			 	<p>View our hand-picked campgrounds from all over the world</p>
			 	<p>
			 		<a class="btn btn-primary btn-large" href="/campgrounds/new">Add a New Campground</a>
			 	</p>
		 	</div>
		 	
		 </header>

		

		<% campgrounds.forEach(function(campground) { %>
			<div>
				<h4><%= campground.name%></h4>
				<img src="<%= campground.image%>">
			</div>

		<% }); %>
	</div>
<% include partials/footer %>
