<% include partials/header %>

<h1>This is the campgrounds page!</h1>

<a href="/campgrounds/new">Add a New Campground</a>

<% campgrounds.forEach(function(campground) { %>
	<div>
		<h4><%= campground.name%></h4>
		<img src="<%= campground.image%>">
	</div>

<% }); %>

<% include partials/footer %>
