<% include partials/header %>

<h1>This is a homepage</h1>

<img src="http://petguide.com.vsassets.com/wp-content/uploads/2014/02/pomsky-puppy-cute.jpg" alt="Picture of a Pomsky">

<% include partials/footer %>