<% include partials/header %>

<h1>The Posts Page</h1>

<% posts.forEach(function(post) { %>
	<li>
		<%= post.title %> - <strong><%= post.author %></strong>
	</li>
<% }); %>

<% include partials/footer %>
